.DataTime {
    color:  #2d3436;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    text-align: center;
    font-size: 35px;
}

.DataTime svg {
    margin: 0 5px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
    width: 35px;
    height: 35px;
}

.DataTime p {
    padding-top: 5px;
    margin: 0 5px;
    text-transform: capitalize;
    font-weight: 600;
}
.search{
    display: flex;
    justify-content: space-around;
}
.search input{
    margin-top: 17px;
    width: 250px;
    height: 25px;
    border-radius: 8px ;
}
.days{
    display: flex;
    justify-content: space-around;
}

.cards{
    width: 100%;
    height: 100px;
    margin-top: 17px;
}
.temps{
    display: flex;
    justify-content: space-around;
}