.DataTime {
    color:  #2d3436;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    text-align: center;
    font-size: 35px;
}

.DataTime svg {
    margin: 0 5px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
    width: 35px;
    height: 35px;
}

.DataTime p {
    padding-top: 5px;
    margin: 0 5px;
    text-transform: capitalize;
    font-weight: 600;
}